<html>
<body>
<form method="post" action="/" data-toggle-value="is_private" enctype="multipart/form-data"><input type="file" name="file"><input type="submit" data-toggle="button" value="Upload"></form>
</form>
</body>
</html>