<% include part_head %>
	<div class="container">
		<!-- header test -->
		<div class="page-header col-xs-12">
			<div class="col-md-6 header_main">
				<img id="logo" />
			    <h1 class="username">Username</h1>
			    <h4 class="motto">- user motto</h4>
			    <button type="submit" name="follow" class="btn btn-info">Follow</button>
			    <button type="submit" name="follow" class="btn btn-default">Unfollow</button>
		    </div>
		    <div class="col-md-3 col-sm-6 pull-right">
		    	<table class="table stats_table">
			    	<tr>
			    		<td>Posts</td>
			    		<td>Followers</td>
			    		<td>Following</td>
			    	</tr>
			    	<tr>
			    		<td>###</td>
			    		<td>###</td>
			    		<td>###</td>
			    	</tr>
			    </table>
		    </div>
		</div>
		<div>
			<form method="post" action="/" data-toggle-value="is_private" enctype="multipart/form-data"><input type="file" name="file"><input type="submit" data-toggle="button" value="Upload"></form>
			</form>
		</div>	
		<!-- header test -->
		<div class="row">
			<div class="col-md-2 col-xs-0"></div>
			<div class="col-md-8 col-xs-12">
				<div class="jumbotron feed_main"> words
					<% posts.forEach(function(post){ %>
				    	<% include part_post %>
				    <% }) %>
					
					<script>
						$(document).ready(function(){
							$('.follow-button').click(function(){

								var button = $(this);
								var username = button.attr("username");
								$.ajax({
									url:"/api/follow/"+username,
									type:"GET",
									success:function(){
										button.toggleClass("btn-default");
										button.toggleClass("btn-success");
										if(button.text()=="following"){
											button.text("follow");
										}else{
											button.text("following");
										}
									}
								});
							});
							//for following buttons' states
							var following = <%- following %>;
							console.log(following);
							var children = $('.feed_main').children();
							for (var i = children.length - 1; i >= 0; i--) {
								var child = $(children[i]);
								if(following.indexOf(child.attr("username"))>-1){
									child.children(".follow-button").text('following');
								}
							};
						});
					</script>
				</div>
			</div>
			<div class="col-md-2 col-xs-0"></div>
		</div>
	</div>
<% include part_foot %>