<% include part_head %>
	<div class="container">
		<!-- header test -->
		<div class="page-header col-xs-12">
			<div class="col-md-6 header_main">
				<img id="logo" />
			    <h1 class="username"><%= user.name %></h1>
			    <h4 class="motto">- user motto</h4>
			    <button type="submit" name="follow" class="btn btn-info">Follow</button>
			    <button type="submit" name="follow" class="btn btn-default">Unfollow</button>
		    </div>
		    <div class="col-md-3 col-sm-6 pull-right">
		    	<table class="table stats_table">
			    	<tr>
			    		<td>Posts</td>
			    		<td>Followers</td>
			    		<td>Following</td>
			    	</tr>
			    	<tr>
			    		<td>###</td>
			    		<td>###</td>
			    		<td>###</td>
			    	</tr>
			    </table>
		    </div>
		</div>
		<!-- header test -->
		<div class="row">
			<div class=" col-md-offset-1 col-md-10 col-xs-12">
				<!-- start: create post/upload -->
				<div class="well col-md-12">
					<form method="POST" id="post-form" action="/post" enctype="multipart/form-data">
						<div class="form-group">
							<!-- needs to be input until we find away around the ie issue with textareas not submitting -->
							<input rows="2" type="text" name="text" class="form-control" placeholder="Upload a picture and post!">
						</div>
						<div class="form-group">
							<input type="file" name="photo" class="form-control">
						</div>
						<input style="float:right" type="submit" class="btn btn-success" value="upload">
					</form>
				</div>
				<div class="clearfix"></div>
				<!-- end: create post/upload -->

				<div class="well col-md-12feed_main">
					<% posts.forEach(function(post){ %>
				    	<% include part_post %>
				    <% }) %>
					
					<script>
						$(document).ready(function(){
							$('.follow-button').click(function(){

								var button = $(this);
								var username = button.attr("username");
								$.ajax({
									url:"/api/follow/"+username,
									type:"GET",
									success:function(){
										button.toggleClass("btn-default");
										button.toggleClass("btn-success");
										if(button.text()=="following"){
											button.text("follow");
										}else{
											button.text("following");
										}
									}
								});
							});
							//for following buttons' states
							var following = <%- following %>;
							console.log(following);
							var children = $('.feed_main').children();
							for (var i = children.length - 1; i >= 0; i--) {
								var child = $(children[i]);
								if(following.indexOf(child.attr("username"))>-1){
									child.children(".follow-button").text('following');
								}
							};
						});
					</script>
				</div>
			</div>
			<div class="col-md-2 col-xs-0"></div>
		</div>
	</div>
<% include part_foot %>