<% include part_head %>
	<!-- content goes here -->
	<div class="container wrapper">
		<div class="col-md-12 col-sm-0 landing">
		</div>
		<div class="col-xs-12 col-sm-6">
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="well">
				<div class="row">
					<div class="clearfix">
						<form class="form-horizontal" id="form-register" role="search" method="POST" action="/register">
							<label class="col-xs-4">Email</label>
					        <div class="form-group col-xs-8">
					            <input type="text" name="email" id="register-email" class="form-control" placeholder="Email">
					        </div>
					        <label class="col-xs-4">Name</label>
				            <div class="form-group col-xs-8">
				            	<input type="text" name="name" id="register-name" class="form-control" placeholder="Full Name">
				            </div>
				            <label class="col-xs-4">Password</label>
				            <div class="form-group col-xs-8">
				            	<input type="password" name="password" id="register-pass" class="form-control" placeholder="Password">
				            </div>
				            <label class="col-xs-4">Confirm Password</label>
				            <div class="form-group col-xs-8">
				            	<input type="password" name="password_w" id="register-pass_w" class="form-control" placeholder="Re-Enter Password">
				            </div>
				           	<div class="col-xs-4"></div>
			            	<div class="form-group" style="text-align:left">
			            	<input type="submit" class="btn btn-success" value="Sign up!">
			            	</div>
				        </form>
			        </div>
		    	</div>
		    </div>

		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#form-register').submit(function(e){
				var hasError = false;
				if($('#register-email').val().length <= 0){hasError = true; $($('#register-email').parent()).addClass('has-error');}
				if($('#register-name').val().length <= 0){hasError = true; $($('#register-name').parent()).addClass('has-error');}
				if($('#register-pass').val().length <= 0){hasError = true; $($('#register-pass').parent()).addClass('has-error');}
				if($('#register-pass').val().length <=0 || $('#register-pass').val()!=$('#register-pass_w').val()){hasError = true; $($('#register-pass_w').parent()).addClass('has-error');}
				console.log(hasError);
				if(hasError){
					e.preventDefault();
				}else{
					return;
				}
			});
			$('.form-group').click(function(){
				$(this).removeClass('has-error');
			});
		});
	</script>
<% include part_foot %>