<div class="row">
	<div class="clearfix">
		<div class="col-xs-offset-1 col-sm-offset-3 col-xs-10 col-sm-6" style="margin-bottom:10px; padding-top:10px; border-bottom:1px dashed #ddd;">
			<h1 style="float:left;margin-top:0px;"><%= person.name %>&nbsp&nbsp</h1>
			<button class="btn btn-info follow-button" style="float:right;" username="<%= person.name %>" >follow</button>
			
		</div>
	</div>
</div>