<html>
	<head>
	  <script type="text/javascript">
    </script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>

    <title>Filter N' Share</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
  	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">
  	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
    <!-- Static navbar -->
    <div class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <div class="navbar-inner"> -->
            <a class="navbar-brand" href="/">Filter N' Share</a>
          <!-- </div> -->
        </div>
        <!-- Login form -->
        <form class="navbar-form navbar-right" id="form-login" method="POST" action="/login">
          <div class="form-group">
            <input type="text" name="email" id="login-email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="login-pass" class="form-control" placeholder="Password">
          </div>
          <input type="submit" class="btn btn-success" value="Sign In">
        </form>
        <script type="text/javascript">
          $(document).ready(function(){
            $('#form-login').submit(function(e){
              var hasError = false;
              if($('#login-email').val().length <= 0){hasError = true; $($('#login-email').parent()).addClass('has-error');}
              if($('#login-pass').val().length <= 0){hasError = true; $($('#login-pass').parent()).addClass('has-error');}
              if(hasError){
                e.preventDefault();
              }else{
                return;
              }
            });
          });
        </script>
        <div class="navbar-collapse collapse"></div><!--/.nav-collapse -->
      </div>
    </div>