	<div class="container">
		<!-- Not crucial, but we put this under a CC By-SA 3.0 license. -->
	    <!-- http://creativecommons.org/licenses/ -->
	    <div class="row-fluid footer">
	        <div class="span12">
	         	<p>Filter N' Share
	         		<a href="http://wisconsininnovationcenter.pbworks.com/w/page/73783805/CS638-Spring14"> © cs638 </a>
	            </p>
	        </div>
	    </div>
	  </div>
	</body>
</html>