<html>
	<head>
	<script type="text/javascript">
  </script>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>

    <title>cs638</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	</head>
	<body>
 
    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header ">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <div class="navbar-inner"> -->
            <a class="navbar-brand" href="/"><img src="" id="logo" />cs638</a>
          <!-- </div> -->
        </div>
        <div class="navbar-collapse collapse">
          <ul id="navbar-main" class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
          </ul>
         
        </div><!--/.nav-collapse -->
      </div>