<div style="margin-bottom:5px;">
	<h1 style="float:left;margin-top:0px;"><%= person.name %>&nbsp-&nbsp</h1>
	<button class="btn btn-default follow-button" style="float:left;" username="<%= person.name %>" >follow</button>
	<div class="clearfix"></div>
</div>