.right-half{
	display:inline;
}

#logo{
	width:50px;
	margin:-5px;
	margin-right:20px;
}

/*Navigation Bar*/
.navbar{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-weight: 300;
	background-color: #000;
}

.navbar-brand{
	line-height: inherit !important;
}

/*Header*/
.username {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-weight: 500;
	display: inline;
}

.motto {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-weight: 300;
	display: inline;
}

.stats_table {
	text-align: right;

}

.slider{
	float:right;
	width:33% !important;
	padding:20px !important;
}

body{
	color:#CCC !important;
	background-color: #fff;
	background-image:url("/static/img/back.png");
	height: 90%;
}

/*landing page - forcing footer to bottom*/
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

.landing {
	padding-top: 35px;
}

.pull-right {
  float: right !important;
}

.extra-text{
	color:#fff;
}

.footer {
  	color: #cccccc;
    text-align: center;
}
.footer p {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-weight: 100;
    font-size: 11px;
}
.footer a {
    color: #ccccff;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
/*.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #FF6000 0%, #D14F00 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
	border-color: #D14F00!important;
}
.panel-default{
	border-color: #D14F00!important;

}*/